<div class="shadow_block">
  <div class="menu card card-body">
    <div class="menu-header">
      <h3>Меню</h3>
    </div>
    <ul class="menu-body list-group">
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
      <li class="menu-item list-group-item col-md-1 col-lg-1 mt-2">
        <a href="#" class="text-body text-decoration-none">Новости</a>
      </li>
    </ul>
  </div>
</div>
