<div class="shadow_block">
  <div class="menu card card-body">
    <div class="menu-header">
      <h3>Меню</h3>
    </div>
    <div class="menu-body">
      <ul class="menu-list list-group">
        <li class="menu-item list-group-item">
          <a href="#" class="text-body text-decoration-none">Курсы</a>
        </li>
        <li class="menu-item list-group-item">
          <a href="#" class="text-body text-decoration-none">Преподаватель</a>
        </li>
        <li class="menu-item list-group-item">
          <a href="#" class="text-body text-decoration-none">Договор</a>
        </li>
        <li class="menu-item list-group-item">
          <a href="#" class="text-body text-decoration-none">Основная часть</a>
        </li>
      </ul>
    </div>
    <div class="menu-footer">
      <a href="#" class="text-body text-decoration-none">@Star-Academy</a>
    </div>
  </div>
</div>
