<div class="main_edit">
  <h3>Редактировать/удалить курс</h3>
  <div id="1" class="main_edit-body card card-body">
    <div class="row wow fadeIn">
      <%24.times do %>
        <div class="col-lg-2 col-md-2 mb-2 mt-4">
          <div class="card shadow-5-dark">

            <div class="view overlay">
              <img class="card-img-top" src="https://im0-tub-ru.yandex.net/i?id=2223ff8a8740363242c254f5db0cf09e&n=13" alt="Место для изображения">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <div class="text-block">
                <a href="#" class="text-body text-decoration-none">
                  <h5>Название</h5>
                </a>
                <h5>
                  <strong>
                    <a href="#" class="text-body text-decoration-none">Описание</a>
                  </strong>
                </h5>
              </div>
              <div class="button-block">
                <button class="btn btn-success btn-sm m-1" type="button">Редактировать</button>
                <button class="btn btn-success btn-sm m-1" type="button">Удалить</button>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>