<div class="main">
  <div class="main-header">
    <div class="Course_menu">
      <a class="Course_menu-item" href="">Курсы</a>
      <a class="Course_menu-item" href="">Добавить курс</a>
      <a class="Course_menu-item" href="">Редактировать/Удалить курс</a>
    </div>
    <a class="Course_menu-item" href="">Вернуться в меню</a>
  </div>
  <div id="1" class="main-body card card-body">
    <div class="table-scroll-block overflow-auto">
      <table class="table table-bordered table-condensed table-striped border-1 border-secondary table-hover caption-top">
        <caption id="caption">Курсы</caption>
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Ограничение по возрасту</th>
          <th scope="col">Фотография</th>
          <th scope="col">Количество занятий</th>
          <th scope="col">Макс.Человек в группе</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
