<div id="main_block">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Имя ребенка</a>
    </li>
  </ul>
  <div class="tab-content bg-white h-100">
    <div class="tab-pane active h-100" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div id="info">

      </div>
      <div class="courses">
        <div class="course_visits bg-white h-100">
          <div class="row wow fadeIn">
            <div class="card card-body course_visits-item col-md-1 col-lg-1 mt-2">
              <h4 class="course_name">Компьютерная графика</h4>
              <div class="table-scroll-block overflow-auto">
                <table class="table table-bordered table-condensed table-striped border-1 border-secondary">
                  <thead>
                  <tr>
                    <th scope="col">01.02</th>
                    <th scope="col">02.02</th>
                    <th scope="col">03.02</th>
                    <th scope="col">04.02</th>
                    <th scope="col">05.02</th>
                    <th scope="col">06.02</th>
                    <th scope="col">07.02</th>
                    <th scope="col">08.02</th>
                    <th scope="col">09.02</th>
                    <th scope="col">10.02</th>
                    <th scope="col">11.02</th>
                    <th scope="col">12.02</th>
                    <th scope="col">13.02</th>
                    <th scope="col">14.02</th>
                    <th scope="col">15.02</th>
                    <th scope="col">16.02</th>
                    <th scope="col">17.02</th>
                    <th scope="col">18.02</th>
                    <th scope="col">19.02</th>
                    <th scope="col">20.02</th>
                    <th scope="col">21.02</th>
                    <th scope="col">22.02</th>
                    <th scope="col">23.02</th>
                    <th scope="col">24.02</th>
                    <th scope="col">25.02</th>
                    <th scope="col">26.02</th>
                    <th scope="col">27.02</th>
                    <th scope="col">28.02</th>
                    <th scope="col">29.02</th>
                    <th scope="col">30.02</th>
                    <th scope="col">31.02</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="button-block w-100">
                <button class="btn btn-success btn-sm float-end" type="button">Последние оплаты</button>
              </div>
            </div>
            <div class="card card-body course_visits-item col-md-1 col-lg-1 mt-2">
              <h4 class="course_name">Компьютерная графика</h4>
              <div class="table-scroll-block overflow-auto">
                <table class="table table-bordered table-condensed table-striped border-1 border-secondary">
                  <thead>
                  <tr>
                    <th scope="col">01.02</th>
                    <th scope="col">02.02</th>
                    <th scope="col">03.02</th>
                    <th scope="col">04.02</th>
                    <th scope="col">05.02</th>
                    <th scope="col">06.02</th>
                    <th scope="col">07.02</th>
                    <th scope="col">08.02</th>
                    <th scope="col">09.02</th>
                    <th scope="col">10.02</th>
                    <th scope="col">11.02</th>
                    <th scope="col">12.02</th>
                    <th scope="col">13.02</th>
                    <th scope="col">14.02</th>
                    <th scope="col">15.02</th>
                    <th scope="col">16.02</th>
                    <th scope="col">17.02</th>
                    <th scope="col">18.02</th>
                    <th scope="col">19.02</th>
                    <th scope="col">20.02</th>
                    <th scope="col">21.02</th>
                    <th scope="col">22.02</th>
                    <th scope="col">23.02</th>
                    <th scope="col">24.02</th>
                    <th scope="col">25.02</th>
                    <th scope="col">26.02</th>
                    <th scope="col">27.02</th>
                    <th scope="col">28.02</th>
                    <th scope="col">29.02</th>
                    <th scope="col">30.02</th>
                    <th scope="col">31.02</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="button-block w-100">
                <button class="btn btn-success btn-sm float-end" type="button">Последние оплаты</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="portfolio btn btn-success btn-sm float-start" type="button">Посмотреть портфолио</button>
    </div>
  </div>
</div>