@import "variables";

.background_img{
  background: url(./background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.scroll-tr-block{
  width: 100%;
  height: 100%;
  overflow: auto;
}
.courseRow{
  width: 100%;
  height: auto;
  text-align: center;
}
main{
  height: 100%;
}
.courseContainer{
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.courseWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
#navbarSupportedContent{
  z-index: 1;
}
.contactsContainer{
  background: $light;
  height: 300px;
  margin-top: 15px;
}
.card-img-top{
  height: 200px;
  width: 100%;
}
.card-item{
  height: 300px;
  min-height: 300px;
  min-width: 300px;
}
.text-body{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
h5:hover{
  color: $green;
  transition: 1s;
}
.contactsContainer{
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.leftContainer{
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  padding: 25px;
}
.rightContainer{
  width: 50%;
  height: 100%;
  background-color: white;
}